.wrapper {
    width: 110vh;
    margin: 10vh auto;
    background-color: white;
}

.freccia {
    position: fixed;
    top: 80px;
    left: 80px;
    padding: 30px;
    background-color: red;
    font-size: 3em;
    color: white;
    font-family: Arial;
}

.risorsa {
    width: 100%;
    text-align: center;
    font-family: Arial, Sans-Serif;
    font-size: 12vh;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 4vh 0;
}

.button {
    width: 100%;
    height: 12vh;
    background-color: #ffffff;
}

.button:hover {background-color: #b2b2b2;}

table {
   border-collapse: collapse;
}

td {
    padding: 0;
}

table#t00 td {
    width: 22vh;
}

table#t01 td {
    border: 0;
}

.largo {
   height: 2vh;
   background-color: white;
}

.largo_nero {
   height: 2vh;
   background-color: black;
}

.stretto {
   height: 2vh;
   width: 2vh;
   background-color: white;
}

.trasparente {
    opacity: 0;
}

.riga {
    width: 100%;
    height: 10px;
    background-color: #000000;
    margin-top: 80px;
    margin-bottom: 80px;
}

.tabellone {
    margin: 8vh auto;
    width: 112vh;
}

.spazio {
    width: 20vh;
    height: 20vh;
    background-color: #00C200;
}

.stanza {
    width: 20vh;
    height: 20vh;
    background-color: #ffa420;
}

.campo {
    width: 20vh;
    height: 20vh;
    background-color: #BF4100;
}

.pascolo {
    width: 20vh;
    height: 20vh;
    background-color: #00C200;
}

.off {
    position: relative;
    float: right;
    width: 10vh;
    height: 10vh;
    border: solid 1vh red;
    margin-top: 6vh;
    margin-right: 2vh;
}

.on {
    position: relative;
    float: right;
    width: 10vh;
    height: 10vh;
    border: solid 1vh red;
    margin-top: 6vh;
    margin-right: 2vh;
    background-color: red;
}

.grano_3 {
    width: 20vh;
    height: 20vh;
    background-color: #BF4100;
    background-image: radial-gradient(#FFFF00, #FFFF00, #FFFF00, #FFFF00, #FFFF00, #FFFF00, #BF4100, #BF4100, #BF4100, #BF4100);
}

.grano_2 {
    width: 20vh;
    height: 20vh;
    background-color: #BF4100;
    background-image: radial-gradient(#FFFF00, #FFFF00, #FFFF00, #FFFF00, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100);
}

.grano_1 {
    width: 20vh;
    height: 20vh;
    background-color: #BF4100;
    background-image: radial-gradient(#FFFF00, #FFFF00, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100);
}

.ortaggio_2 {
    width: 20vh;
    height: 20vh;
    background-color: #BF4100;
    background-image: radial-gradient(#ffa420, #ffa420, #ffa420, #ffa420, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100);
}

.ortaggio_1 {
    width: 20vh;
    height: 20vh;
    background-color: #BF4100;
    background-image: radial-gradient(#ffa420, #ffa420, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100, #BF4100);
}

.stalla {
    width: 20vh;
    height: 20vh;
    background-color: #BF4100;
    background-image: radial-gradient(#000000, #000000, #000000, #000000, #00C200, #00C200, #00C200, #00C200, #00C200, #00C200);
}

#legno {
  background-color: #824200; color: #ffffff; 
}
#argilla {
  background-color: #C21212; color: #ffffff; 
}
#pietra {
  background-color: #000000; color: #ffffff; 
}
#canna {
  background-color: #FFE1B0; 
}
#grano {
  background-color: #FFFF00; color: #000000; 
}
#ortaggio {
  background-color: #ffa420; color: #000000; 
}
#cibo {
  background-color: #00C200; color: #000000;
}
#pecora {
  background-color: #F1F1B4; color: #000000;
}
#cinghiale {
  background-color: #000000; color: #ffffff;
}
#bestiame {
  background-color: #BF4100; color: #ffffff;
}
