.wrapper {
    width: 111vh;
    margin: 10vh auto;
    background-color: white;
}

.freccia {
    position: fixed;
    top: 80px;
    left: 80px;
    padding: 30px;
    background-color: red;
    font-size: 3em;
    color: white;
    font-family: Arial;
}

.risorsa {
    width: 22vh;
    text-align: center;
    font-family: Arial, Sans-Serif;
    font-size: 12vh;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 4vh 0;
}

.button {
    width: 22vh;
    height: 12vh;
    background-color: #ffffff;
}

.button:hover {background-color: #b2b2b2;}

td {
    padding: 0;
}

.trasparente {
    opacity: 0;
}

.riga {
    width: 100%;
    height: 10px;
    background-color: #000000;
    margin-top: 80px;
    margin-bottom: 80px;
}

.tabellone {
    margin: 8vh auto;
}

.spazio {
    width: 20.8vh;
    height: 20.8vh;
    background-color: #ffffff;
}

.stanza {
    width: 20.8vh;
    height: 20.8vh;
    background-color: #ffa420;
}

.campo {
    width: 20.8vh;
    height: 20.8vh;
    background-color: #BF4100;
}

.pascolo {
    width: 20.8vh;
    height: 20.8vh;
    background-color: #00C200;
}

#legno {
  background-color: #824200; color: #ffffff; 
}
#argilla {
  background-color: #C21212; color: #ffffff; 
}
#pietra {
  background-color: #000000; color: #ffffff; 
}
#canna {
  background-color: #FFE1B0; 
}
#grano {
  background-color: #FFFF00; color: #000000; 
}
#ortaggio {
  background-color: #ffa420; color: #000000; 
}
#cibo {
  background-color: #00C200; color: #000000;
}
#pecora {
  background-color: #F1F1B4; color: #000000;
}
#cinghiale {
  background-color: #000000; color: #ffffff;
}
#bestiame {
  background-color: #BF4100; color: #ffffff;
}
